@import "../../index.scss";


.clear-button-collection{
    padding: $sp-4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2081e2;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.create-collection {
    &.edit-modal{
        // width: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: block;
            width: 5px;
            border-radius: $rounded-sm;
        }
        &::-webkit-scrollbar-thumb {
            background: $rounded-color;
        }

        .form-collection{
            text-align: left;
            margin-bottom: 80px;
            padding: 0 $sp-9 0 $sp-10;
        }
    }
}