@import "../../../index.scss";

.collection-grid {
    .colection-list {
        grid-column: span 12;
        margin-right: 32px;
    }
}
.collection-grid {
    .colection-list.tendency.right {
        margin-right: 32px;
        margin-left: 0;
    }
}

.colection-list {
    .colection-grid-col6 {
        .colection-grid-col6-content {
            .colection-grid-header {
                border-bottom: 0;
                overflow: auto visible;
                z-index: 1;
                justify-content: space-between;
                display: flex;
                flex-direction: row;

                .colection-header-name {
                    width: 60%;
                    display: flex;
                    justify-content: flex-start;
                    flex: 0 0 60%;
                    align-items: center;
                    gap: $sp-8;
                    &.plancher {
                        width: 20%;
                        justify-content: flex-end;
                        flex: 0 0 20%;
                        align-items: center;
                    }
                    &.volume {
                        width: 20%;
                        display: flex;
                        justify-content: flex-end;
                        flex: 0 0 20%;
                        align-items: center;
                    }

                    span {
                        font-weight: $font-semibold;
                        font-size: $text-2xs;
                        line-height: $leading-tiny;
                        color: $text-color;
                    }
                }
            }
            .collection-table-grid {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                max-width: 100%;
                height: 480px;
                flex-direction: column;
                max-height: 480px;
                overflow-y: auto;
                overflow-x: hidden;

                .collection-list-item {
                    width: 100%;
                    height: 96px;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    &:hover {
                        background-color: #141925;
                        border-radius: $rounded-sm;
                    }

                    .colection-header-name {
                        width: 60%;
                        display: flex;
                        justify-content: flex-start;
                        flex: 0 0 60%;
                        align-items: center;
                        gap: $sp-8;
                        &.items {
                            img {
                                height: 80px;
                                object-fit: cover;
                                max-width: 80px;
                                border-radius: $rounded-sm;
                                max-height: 100%;
                            }

                            span {
                                font-weight: $font-semibold;
                                font-size: $text-xs;
                                line-height: $leading-6;
                                color: $text-color;
                            }

                            .span-id {
                                width: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                overflow: hidden;
                                max-width: 16px;
                            }
                        }
                        &.plancher {
                            width: 20%;
                            justify-content: flex-end;
                            flex: 0 0 20%;
                            align-items: center;
                        }
                        &.volume {
                            width: 20%;
                            display: flex;
                            justify-content: flex-end;
                            flex: 0 0 20%;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .collection-grid{
        .colection-list {
            grid-column: span 6;
            margin-right: $sp-12;
            &.tendency{
                &.right {
                    margin-right: 0;
                    margin-left: $sp-12;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .collection-grid{
        .colection-list {
            grid-column: span 6;
            margin-right: $sp-12;
            &.tendency{
                &.right {
                    margin-right: 0;
                    margin-left: $sp-12;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .collection-grid{
        .colection-list {
            margin: 0;
            &.tendency{
                &.right {
                    margin: 0;
                }
            }
        }
    }
    .colection-header-name{
        span {
            padding: 0;
        }
    }
}

@media (max-width: 490px) {
    .colection-header-name {
        gap: $sp-2;
    }
}